/*
## .k
*/

.language-css .k {
    color: orange;
}

/*
## .m
Measurement
*/

.m {
    color: purple;
}

/*
## .n
Uknown name
*/
.n {
    color: orange;
}

/*
## .nc
Selector class (.className)
*/
.nc {
    color: gold;
}

/*
## .nd
Pseudo-class/element
*/

.nd {
    color: yellow;
}

/*
## .nt
Selector 'type' (table, p, [type=])
*/
.nt {
    color: yellow;
}

/*
## .o

Other? Object?
*/

.o {
    color: white;
}

/*
## .p
*/
