blockquote {
    margin: 1em 2em;
    padding: 1em;
    background: rgba( 128,128,128 ,0.25 );
    position: relative;
    &::before {
        content: "\314 ";
        color: rgba( 128,128,128 ,0.35 );
        position: absolute;
        font-size: 400%;
        top: -0.1em;
        left: 0;
    }
    &::after {
        content: "\313 ";
        color: rgba( 128,128,128 ,0.35 );
        position: absolute;
        font-size: 400%;
        bottom: -0.6em;
        right: 0;
    }
}
